<?xml version="1.0" encoding="UTF-8"?>
<!-- Logging for tests is configured before application.properties is
     read in, so configure using Logback directly -->
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<root level="warn"/>

	<logger name="io.github.lhanson.possum" level="debug" />
</configuration>